extends /layout
block head
	//-script.
		pageClass = '#{entry.id}'
block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="#{asset(entry.headerImage)}")
		//-p= JSON.stringify(subPages)
	if entry != undefined
		include /partials/_sections
		//-if entry.sections != undefined
			for section in entry.sections
				- var sectionColor = section.fields.background == undefined ? '' : section.fields.background
				- var className = sectionColor === 'image' ? 'imagebg' : 'bg-'+sectionColor
				- var overlay = sectionColor === 'image' ? 'true' : ''
				- var angle = section.fields.angledSection ? 'angle' : ''
				section(class="#{className + ' ' + angle}")&attributes({overlay})
					if className === 'imagebg'
						.background-image-holder
							img(src="#{asset(section.fields.backgroundImage)}")
					.container
						if section.fields.content != undefined
							for block in section.fields.content
								//-p= JSON.stringify(block.sys.contentType.sys)
								if block.sys.contentType.sys.id === 'textSection'
									- var blockId = block.fields.id == undefined ? '' : block.fields.id
									if block.fields.subhead != undefined
										.row.text-center.subHeadRow(id="#{blockId}")
											.col-sm-12
												h2= block.fields.subhead
												.separator
									if block.fields.body != undefined
										- var align = block.fields.align == undefined ? '' : 'text-'+block.fields.align
										.row(class="#{align}")
											.col-sm-12
												.md!= md(block.fields.body)
								else if block.sys.contentType.sys.id === 'photoSection'
									if block.fields.photos != undefined
										.masonry
											.row.masonry__container.text-center
												for image in block.fields.photos
													.gallery-image.col-sm-4.col-xs-6.masonry__item
														a(href="#{asset(image)}" data-lightbox="true")
															img.blog-photo(src="#{asset(image)}")
								else if block.sys.contentType.sys.id === 'videoSection'
									if block.fields.iframe != undefined
										.md!= block.fields.iframe
								else if block.sys.contentType.sys.id === 'buttonSection'
									if block.fields.text != undefined && block.fields.url != undefined
										.row.text-center
											.col-sm-12
												- var btnColor = block.fields.color != undefined ? block.fields.color : ''
												- var btnTextColor = (sectionColor === 'image' && sectionColor != 'white') ? 'white' : sectionColor
												- var target = block.fields.openLinkInNewTab ? "_blank" : "_self"
												a.btn(class="#{btnColor}" href="#{block.fields.url}" target="#{target}")
													span.btn__text(class="color-#{btnTextColor}")= block.fields.text
								else
									- console.log('unrecognized block section')
