if entry.sections != undefined
	for section in entry.sections
		- var sectionColor = section.fields.background == undefined ? '' : section.fields.background
		- var className = sectionColor === 'image' ? 'imagebg' : 'bg-'+sectionColor
		- var overlay = sectionColor === 'image' ? 'true' : ''
		- var angle = section.fields.angledSection ? 'angle' : ''
		- console.log("loading sections for " + pageClass)
		section(class="#{className + ' ' + angle}")&attributes({overlay})
			if className === 'imagebg'
				.background-image-holder
					img(src="#{asset(section.fields.backgroundImage)}")
			.container
				if section.fields.content != undefined
					for block in section.fields.content
						//-p= JSON.stringify(block.sys.contentType.sys)
						if block.sys.contentType.sys.id === 'textSection'
							- var blockId = block.fields.id == undefined ? '' : block.fields.id
							.content-block
								if block.fields.subhead != undefined
									.row.text-center.subHeadRow(id="#{blockId}")
										.col-sm-12
											h2= block.fields.subhead
											.separator
								if block.fields.body != undefined
									- var align = block.fields.align == undefined ? '' : 'text-'+block.fields.align
									.row(class="#{align}")
										.col-sm-12
											.md!= md(block.fields.body)
						else if block.sys.contentType.sys.id === 'photoSection'
							.content-block
								if block.fields.description != undefined
									.row.text-center
										.col-sm-12
											.md!=md(block.fields.description)
								if block.fields.photos != undefined
									.masonry
										.row.masonry__container.text-center
											for image in block.fields.photos
												.gallery-image.col-sm-4.col-xs-6.masonry__item
													a(href="#{asset(image)}" data-lightbox="true")
														img.blog-photo(src="#{asset(image)}")
						else if block.sys.contentType.sys.id === 'videoSection'
							.content-block
								if block.fields.iframe != undefined
									.md!= block.fields.iframe
						else if block.sys.contentType.sys.id === 'buttonSection'
							.content-block
								if block.fields.text != undefined && block.fields.url != undefined
									.row.text-center
										.col-sm-12
											- var btnColor = block.fields.color != undefined ? block.fields.color : ''
											- var btnTextColor = (sectionColor === 'image' && sectionColor != 'white') ? 'white' : sectionColor
											- var target = block.fields.openLinkInNewTab ? "_blank" : "_self"
											a.btn(class="#{btnColor}" href="#{block.fields.url}" target="#{target}")
												span.btn__text(class="color-#{btnTextColor}")= block.fields.text
						else if block.sys.contentType.sys.id === 'blogRoll'
							.content-block
								.masonry.text-center
									if block.fields.category == undefined
										.row.masonry-filter-holder.masonry-filters--horizontal
											.masonry__filters(data-filter-all-text='All Categories')
												ul
													li.active(data-masonry-filter='*') All Categories
													for category in contentful.blogCats
														li(data-masonry-filter='#{category.id}')= category.title
										.row.masonry__container
											- var max = block.fields.maxPosts != undefined ? block.fields.maxPosts : contentful.blogPosts.length
											for blogPost in contentful.blogPosts
												if max >= 0
													- max--
													- var filters = ""
													if blogPost.category != undefined
														for cat in blogPost.category
															- filters += ' filter-'+cat.fields.id
													.blogPost.col-sm-4.col-xs-12.masonry__item(class="#{filters}")
														a(href="#{blogPost._url}")
															img.blog-image(src="#{asset(blogPost.headerImage)}")
															.blog-info
																h5.blog-title= blogPost.title
																- var d = blogPost.dateFormatted
																p.blog-date= d.dayName + ' ' + d.month + ' ' + d.day + ', ' + d.year
																if blogPost.featuredText != undefined
																	.blog-ftext.md!=md(blogPost.featuredText)
									else if block.fields.category != undefined
										.row.masonry__container
											- var max = block.fields.maxPosts != undefined ? block.fields.maxPosts : contentful.blogPosts.length
											for blogPost in blogPosts[block.fields.category.fields.id]
												if max >= 0
													- max--
													.blogPost.col-sm-4.col-xs-12.masonry__item
														a(href="#{blogPost._url}")
															img.blog-image(src="#{asset(blogPost.headerImage)}")
															.blog-info
																h5.blog-title= blogPost.title
																- var d = blogPost.dateFormatted
																p.blog-date= d.dayName + ' ' + d.month + ' ' + d.day + ', ' + d.year
																if blogPost.featuredText != undefined
																	.blog-ftext.md!=md(blogPost.featuredText)
												
						else if block.sys.contentType.sys.id === 'donateLink'
							.content-block
								.row
									.blogPost.col-sm-12.col-xs-12
										if block.fields.url != undefined
											a(href="#{block.fields.url}" target="_blank")
												.col-sm-3.blog-image
													img(src="#{asset(block.fields.image)}")
												.col-sm-8.text-left.blog-info
													h5.blog-title= block.fields.title
													if block.fields.description != undefined
														.blog-ftext.md!=md(block.fields.description)
										else
											a(href="#{asset(block.fields.image)}" data-lightbox="true")
												.col-sm-3.blog-image
													img(src="#{asset(block.fields.image)}")
												.col-sm-8.text-left.blog-info
													h5.blog-title= block.fields.title
													if block.fields.description != undefined
														.blog-ftext.md!=md(block.fields.description)

						else
							- console.log('unrecognized block section')
