extends layout
block content
	//-p= JSON.stringify(contentful.artists)
	section#first-section.imagebg.parallax.black(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header.jpg")
		.container
			.row.text-center
				.col-sm-12
					img#big-logo(src="/img/logo/logo-h-white.png")
					//-#date-container.counter-class(data-date='2018/05/18 14:00:00')
						#countdown-timer
							.countdown-section
								span.countdown-amount.first-item.countdown-days.counter-days XXX
								span.countdown-period Days
							.countdown-section
								span.countdown-amount.countdown-hours.counter-hours XX
								span.countdown-period Hours
							.countdown-section
								span.countdown-amount.countdown-minutes.counter-minutes XX
								span.countdown-period Minutes
							.countdown-section
								span.countdown-amount.countdown-seconds.counter-seconds XX
								span.countdown-period Seconds
					//-h2 MAY 18TH & 19TH 2018
					//- .md!= md(contentful.home[0].promotion)
	- var entry = subPages.Home
	include /partials/_sections.jade
	//-section.angle.bg-orange
		.container
			.row.text-center
				.col-sm-12
					h2.color-white TNR Vouchers
					.separator-white
					p.color-white.
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed sem vel quam pulvinar lobortis id id ante. In hac habitasse platea dictumst
					a.btn.white(href="#")
						span.btn__text.color-orange More Information
			//-.row.text-center
				.x-pad.col-sm-6.col-sm-offset-6.bg-blue.bg-t5.angle.info-box
					h2 THE LOCATION
					.separator
					h5.color-white.
						FRESNO, CALIFORNIA #[br]
						WOODWARD PARK#[br]
				.x-pad.col-sm-6.bg-purple.bg-t5.angle.info-box
					h2 THE TIME
					.separator
					h5.color-white.
						2:00PM - MIDNIGHT#[br]
						ALL AGES
	//-section
		#artists.container.masonry
			.row.text-center
				.col-sm-12
					h2.color-purple We Love Cats
					.separator
			.row.masonry__container.text-center
				- var cats = [1,2,3,4,5,6,7,8,9]
				for cat in cats
					.col-sm-3.col-xs-4.masonry__item
						a(href="/img/cats/cat#{cat}.jpg" data-lightbox="cats")
							img(src="/img/cats/cat#{cat}.jpg")
				//-if contentful.artists != undefined
					- var max = 9
					for item in contentful.artists
						- max--
						if max >= 0
							.artist.angle.col-sm-4.col-xs-6.masonry__item
								a(href="#{item._url}")
									img.artist-photo(src="#{asset(item.artistPhoto)}")
									span.artist-name= item.artistName
									if item.socialLinks != undefined
										ul.social-media
											for link in item.socialLinks
												li
													a(href="#{link.fields.url}" target="_blank")
														i.fa(class="fa-#{link.fields.site}")
				//-.artist.col-sm-4.col-xs-6.masonry__item
					a(href="#")
						img.artist-photo(src="/img/artists/snoopDogg.jpg")
						span.artist-name Snoop Dogg
						ul.social-media
							li
								a(href="#" target="_blank")
									i.fa.fa-instagram
		.container
			.row.text-center
				.col-sm-12
					a.btn.purple(href="/artists")
						span.btn__text.color-white View all cats
	
	//-section.angle.imagebg.blue.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img4.jpg")
		.container.masonry
			.row.text-center
				.col-sm-12
					h2 THE SCHEDULE
					.separator
			#events.row.masonry__container
				- var max = 4
				for event in contentful.events
					- max--
					if max >= 0
						- var cats = ''
						if event.categories != undefined
							for item in event.categories
								- cats+= " filter-"+item.fields.id
						.event.angle.row.text-center.masonry__item(class="#{cats}")
							//-#{event._url}
							a(href="#{event._url}")
								.col-sm-4.col-xs-6
									img.blog-photo(src="#{asset(event.featuredImage)}")
								.event-info.col-sm-8.col-xs-6
									h4.blog-name= event.title
									if event.featuredText != undefined
										p.featuredText.md!= md(event.featuredText)
									if event.timeSlot != undefined
										- var UTCoffset = -7
										- var date = new Date(event.timeSlot)
										- var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
										- var days = ['',"Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday", "Sunday"]
										- var ampm = date.getUTCHours() + UTCoffset >= 12 ? 'PM' : 'AM'
										- var minutes = date.getUTCMinutes() < 10 ? '0' + date.getUTCMinutes() : date.getUTCMinutes()
										//-- console.log(date.getUTCHours() + UTCoffset)
										if (date.getUTCHours() + UTCoffset) != 9
											h5= days[date.getUTCDay()]
											h6= months[date.getUTCMonth()] + ' ' + date.getUTCDate() + ' - ' + (date.getUTCHours()+ UTCoffset) + ':' + minutes + ' ' + ampm
										else
											h5= days[date.getUTCDay()]
											h6= months[date.getUTCMonth()] + ' ' + date.getUTCDate() + ' - time TBA'
			.row.text-center
				.col-sm-12
					a.btn.white.angle(href="/events")
						span.btn__text.color-blue View the Events
	//-section.bg-orange
		.container
			.row.text-center
				.col-sm-12
					h2 Upcoming Events
					.separator-white
					a.btn.white(href="#")
						span.btn__text.color-orange View Calendar
	//-section.angle.imagebg.lightblue(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img6.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 THE AREA
					.separator
				.col-sm-12
					a(href="/img/map.jpg" data-lightbox="map")
						img(src="/img/map.jpg")
					a.btn.white.angle(href="/area" target="_blank" style='margin-top:30px;')
						span.btn__text.color-lightblue View the area
					//-a.btn.white.angle(href="https://www.google.com/maps?q=woodward+park&safe=active&ssui=on&um=1&ie=UTF-8&sa=X&ved=0ahUKEwiKpbDpt5nZAhVQ-GMKHStpBPMQ_AUICigB" target="_blank" style='margin-top:30px;')
						span.btn__text.color-lightblue View the area
	//-section
		.container
			.row.text-center
				.col-sm-12
					h2.color-purple Latest News
					.separator
			//-.row.masonry__container.text-center
				if contentful.blog != undefined
					- var max = 3
					for item in contentful.blog
						- max--
						if max >= 0
							.blogPost.angle.col-sm-4.col-xs-6.masonry__item
								a(href="#{item._url}")
									img.blog-photo(src="#{asset(item.featuredImage)}")
									span.blog-name= item.title
									p.featuredText.md!= md(item.featuredText)
									
			.row.text-center
				.col-sm-12
					a.btn.purple(href="/blog")
						span.btn__text.color-white View all news
	section#map-section.unpad.height-50
		#map-container.row.unmarg(style="height:100%;")
			#map(style="height:100%;")
				script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js')
				link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css', rel='stylesheet')
				//- initial map center is based on the first project (if there is one, otherwise use a default coordinate)
				script.
					mapboxgl.accessToken = 'pk.eyJ1IjoiZGVlcGZyeSIsImEiOiJjajUwNnowYnIyZGhnMzNyNGdkMThxYzNtIn0.2as5SwBqekMQuwmuxhQsjw';
					var map = new mapboxgl.Map({
						container: 'map',
						style: 'mapbox://styles/deepfry/cjc2ajuhd13hi2rl9qygm543r',
						zoom: 10,
						center: [-119.286733, 36.327473],//default = [-119.286733, 36.327473],
						scrollZoom: false
					});
